@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "svg-icons";
  src: url("../fonts/svg-icons.eot");
  src: url("../fonts/svg-icons.?#iefix") format("embedded-opentype"), url("../fonts/svg-icons.woff") format("woff"), url("../fonts/svg-icons.ttf") format("truetype"), url("../fonts/svg-icons.#svg-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "svg-icons";
}

.icon:before {
  /* Some common icon stuff */
}

.icon.icon--android:before {
  content: "";
}

.icon.icon--apple:before {
  content: "";
}

.icon.icon--cloud:before {
  content: "";
}

.icon.icon--facebook:before {
  content: "";
}

.icon.icon--google-plus:before {
  content: "";
}

.icon.icon--twitter:before {
  content: "";
}

.icon.icon--windows:before {
  content: "";
}

.nav {
  /*position: fixed;
	top: 29px;
	left: 50%;
	transform: translateX(-50%);*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1240px;
  margin: 0 auto;
  padding: 23px 35px 23px 38px;
  background-color: #fff;
  z-index: 1000;
}

.nav__links {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.nav__item {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  color: #7e7c7e;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__item:hover {
  color: #282528;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #1ab798;
}

.header {
  height: 100vh;
  background: url("../images/bg-hero.jpg") top center no-repeat;
}

.header__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__info {
  margin-top: 150px;
  margin-left: 35px;
}

.header__title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  padding-left: 5px;
}

.header__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  color: #fff;
  padding-left: 3px;
}

.header__list {
  margin-top: 45px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.header__list-item {
  list-style-type: none;
  position: relative;
  padding-left: 25px;
}

.header__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__list-item::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  width: 7px;
  height: 7px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.btn {
  border-radius: 3px;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: none;
}

.btn--header {
  margin-left: 13px;
  margin-top: 80px;
  padding-left: 50px;
  background-color: #1ab798;
}

.btn:hover {
  cursor: pointer;
}

.icon {
  font-weight: 600;
  position: relative;
}

.icon::before {
  font-size: 24px;
  position: absolute;
  left: -40px;
  top: -22px;
}

.header__images {
  margin-top: 150px;
  position: relative;
}

.header__image {
  width: 330px;
  height: 590px;
  background-image: url(../images/screen.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 330px 590px;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 185px;
}

.header__image:last-child {
  width: 345px;
  height: 649px;
  background-image: url(../images/screen.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 345px 649px;
  z-index: 1;
  position: absolute;
  top: -60px;
  right: 100px;
}

.features {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 200px;
}

.features__title,
.team__title,
.testimonials__title,
.contact__title {
  margin-top: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #1ab798;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  position: relative;
  background: url(../images/line.png) no-repeat;
  background-position: center 40px;
  padding-bottom: 22px;
}

.features__title::before,
.team__title::before,
.testimonials__title::before,
.contact__title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #c5c5c5;
  position: absolute;
  top: 24%;
  margin-left: -45px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.features__title::after,
.team__title::after,
.testimonials__title::after,
.contact__title::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #c5c5c5;
  position: absolute;
  top: 24%;
  margin-left: 45px;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.features__general {
  margin-top: 60px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #282528;
  padding: 0 150px;
}

.features__description {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.features__list {
  margin: 70px 40px 0;
}

.features__list-item {
  list-style-type: none;
  padding-right: 20px;
}

.features__list-item:not(:last-child) {
  margin-bottom: 60px;
}

.feature__name {
  display: block;
  color: #282528;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 80px;
  line-height: 36px;
}

.feature__name.feature__name--1 {
  background: url(../images/1.png) no-repeat;
  background-position: 0 0;
}

.feature__name.feature__name--2 {
  background: url(../images/2.png) no-repeat;
  background-position: 0 0;
}

.feature__name.feature__name--3 {
  background: url(../images/3.png) no-repeat;
  background-position: 0 0;
}

.feature__name.feature__name--4 {
  background: url(../images/4.png) no-repeat;
  background-position: 0 0;
}

.feature__name.feature__name--5 {
  background: url(../images/5.png) no-repeat;
  background-position: 0 0;
}

.feature__name.feature__name--6 {
  background: url(../images/6.png) no-repeat;
  background-position: 0 0;
}

.feature__description {
  margin-left: 80px;
  line-height: 24px;
  color: #282528;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: block;
}

.features__img {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 50%;
  flex: 2 1 50%;
  height: 700px;
  background-image: url(../images/screen.png);
  background-repeat: no-repeat;
  background-position: -48px 0;
}

.video {
  background-color: #31d4e7;
}

.video__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 72px 32px;
}

.video__info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin-right: 100px;
}

.video__title {
  color: #222;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.video__description {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.os {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.os .icon {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  position: relative;
  border-radius: 999rem;
  background-color: #0098cd;
  padding: 34px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
}

.os .icon:not(:last-child) {
  margin-right: 20px;
}

.os .icon::before {
  position: absolute;
  font-size: 28px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.os .icon:hover {
  background-color: #222;
}

.video__watch {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  border-radius: 7px;
}

.team {
  max-width: 1240px;
  margin: 0 auto;
}

.team__title {
  margin-top: 120px;
}

.team__general {
  margin-top: 40px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #282528;
  padding: 0 150px;
}

.team__members {
  margin-top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.team__member {
  list-style-type: none;
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  margin-right: 30px;
  margin-bottom: 30px;
}

.team__member:hover .team__info {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 68px;
  text-align: center;
  background-color: rgba(33, 177, 154, 0.75);
  color: #fff;
  padding: 23px;
}

.team__member:hover .team__info .team__info-title {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}

.team__member:hover .team__info .team__info-desc {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 65px;
}

.team__member:hover .team__info .team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team__member:hover .team__info .team__social .icon {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  position: relative;
  background-color: rgba(15, 114, 96, 0.75);
  padding: 21px;
}

.team__member:hover .team__info .team__social .icon:not(:last-child) {
  margin-right: 20px;
}

.team__member:hover .team__info .team__social .icon::before {
  position: absolute;
  font-size: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.team__member:hover .team__name {
  color: #2bb392;
}

.team__photo {
  width: 100%;
  height: auto;
}

.team__photo-wrapper {
  width: 270px;
  height: 300px;
}

.team__info {
  display: none;
}

.team__name {
  margin-top: 20px;
  display: block;
  text-align: center;
  color: #062033;
  font-size: 18px;
  line-height: 24px;
}

.team__position {
  display: block;
  text-align: center;
  color: #73828d;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.testimonials {
  max-width: 1240px;
  margin: 0 auto;
}

.testimonials__title {
  margin-top: 120px;
  margin-bottom: 20px;
}

.slider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1240px;
  margin: 20px auto;
  position: relative;
}

.slider {
  width: 1200px;
  overflow: hidden;
}

.slider-wrapper {
  width: 1000%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item {
  width: 1200px;
  -webkit-transition: 2s;
  transition: 2s;
  padding: 0 85px;
}

.testimonials__photo {
  width: 100%;
  height: auto;
}

.testimonials__photo-wrapper {
  width: 100px;
  height: 100px;
  border: 1px solid #c6c9c9;
  border-radius: 999rem;
  margin: 0 auto;
  margin-bottom: 25px;
}

.testimonials__name {
  display: block;
  text-align: center;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.testimonials__workplace {
  display: block;
  text-align: center;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-bottom: 65px;
}

.testimonials__text {
  padding-left: 80px;
  padding-top: 20px;
  background: url(../images/quotes.png) no-repeat;
  background-position: 0 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.slider-nav {
  text-align: center;
  margin-bottom: 120px;
}

.circle {
  width: 10px;
  height: 10px;
  background: #d4d3d4;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}

.circle:not(:last-child) {
  margin-right: 8px;
}

.circle:hover {
  cursor: pointer;
  background: #1ab798;
}

.circle.active {
  background: #1ab798;
}

.contact {
  background: url("../images/bg-contact.jpg") top center no-repeat;
  padding-top: 68px;
  background-size: cover;
}

.contact__wrapper {
  margin: 0 auto;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 95px;
  margin-bottom: 55px;
}

.contact__title {
  margin-top: 0;
  line-height: 24px;
  color: #fff;
  background: url(../images/line.png) no-repeat;
  background-position: center 10px;
}

.contact__info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding-left: 60px;
}

.contact__subtitle {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  display: block;
  margin-bottom: 15px;
}

.contact__text {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 21px;
  font-size: 14px;
  color: #878787;
  padding-right: 100px;
  display: block;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact__social .icon {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 21px;
  border-radius: 999rem;
}

.contact__social .icon:not(:last-child) {
  margin-right: 20px;
}

.contact__social .icon::before {
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact__social .icon.icon--facebook {
  background-color: #3b5997;
}

.contact__social .icon.icon--twitter {
  background-color: #3ec2f3;
}

.contact__social .icon.icon--google-plus {
  background-color: #e44c41;
}

.contact__links {
  color: #bface2;
  font-size: 14px;
  line-height: 24px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.contact__form {
  text-align: right;
}

.contact__form-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.contact__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact__input {
  width: 270px;
  border-radius: 2px;
  padding: 16px 20px;
  outline: none;
  border: none;
  color: #c5c5c5;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.contact__input.contact__msg {
  width: 100%;
  height: 179px;
  line-height: 24px;
}

.btn--contact {
  background-color: #31d4e7;
  text-transform: uppercase;
  font-size: 22px;
}

.copyright {
  border-top: 1px solid #505050;
  color: #949494;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.copyright__wrapper {
  margin: 0 auto;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 0;
}

.copyright__copy {
  padding-left: 60px;
  display: block;
}

.copyright__right {
  display: block;
  padding-right: 60px;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header__images {
    margin-top: 223px;
  }

  .features__list {
    margin: 70px 20px 0;
  }

  .feature__name {
    padding-left: 50px;
  }

  .feature__description {
    margin-left: 50px;
  }

  .features__img {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 70%;
    flex: 2 1 70%;
  }

  .slider-box {
    width: 800px;
  }

  .slider {
    width: 760px;
  }

  .slider__item {
    width: 760px;
  }

  .contact__form {
    margin-right: 20px;
  }

  .contact__input {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
