//COLORS
$white: #fff;
$black: #282528;
$dark-black: #222;
$very-dark-black: #062033;
$sea-green: #1ab798;
$meadow: #2bb392;
$platinum: #7e7c7e;
$light-grey: #babdc1;
$grey: #c6c9c9;
$light-grey: #c5c5c5;
$turquoise: #31d4e7;
$aqua: #0098cd;
$schist: #73828d;
$hoar: #d4d3d4;
$dark-pearl: #878787;
$facebook: #3b5997;
$twitter: #3ec2f3;
$google: #e44c41;
$wisteria: #bface2;
$wet-asphalt: #505050;
$telegrey: #949494;
$greeny: #28bc9e;

//FONTS
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;
