.video {
	background-color: $turquoise;
	&__wrapper {
		display: flex;

		max-width: 1240px;
		margin: 0 auto;
		padding: 72px 32px;

		justify-content: space-between;
		@include respond-to(tablets) {
			flex-flow: wrap;
		}
		@include respond-to(handhelds) {
			flex-flow: wrap;
		}
	}
}

.video__info {
	margin-right: 100px;

	flex: 1 1 100%;
	@include respond-to(tablets) {
		margin-bottom: 30px;
	}
	@include respond-to(handhelds)  {
		margin-right: 0;
		margin-bottom: 30px;
	}
}

.video__title {
	font-family: $raleway;
	font-size: 28px;
	font-weight: 700;
	line-height: 18px;

	margin-bottom: 25px;

	text-transform: uppercase;

	color: $dark-black;

	@include respond-to(handhelds) {
		text-align: center;
	}
}

.video__description {
	font-family: $opensans;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;

	color: $white;

	@include respond-to(handhelds) {
		text-align: center;
	}
}

.os {
	display: flex;

	margin-top: 30px;

	@include respond-to(handhelds) {
		justify-content: center;
	}
	.icon {
		font-weight: 400;

		position: relative;

		display: inline-block;

		padding: 34px;

		transition-duration: .3s;
		transition-property: background;
		transform: perspective(1px) translateZ(0);
		text-decoration: none;

		color: $white;
		border-radius: 999rem;
		background-color: $aqua;
		&:not(:last-child) {
			margin-right: 20px;
		}
		&::before {
			font-size: 28px;

			position: absolute;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);
		}
		&:hover {
			background-color: $dark-black;
		}
	}
}

.video__watch {
	border-radius: 7px;

	flex: 1 1 100%;
	@include respond-to(handhelds) {
		width: 200px;
		height: auto;
	}
}
