
$icon-android: "\EA01" !default;

$icon-apple: "\EA02" !default;

$icon-cloud: "\EA03" !default;

$icon-facebook: "\EA04" !default;

$icon-google-plus: "\EA05" !default;

$icon-twitter: "\EA06" !default;

$icon-windows: "\EA07" !default;