
$icon-1: "\EA01" !default;

$icon-2: "\EA02" !default;

$icon-3: "\EA03" !default;

$icon-4: "\EA04" !default;

$icon-5: "\EA05" !default;

$icon-6: "\EA06" !default;

$icon-android: "\EA07" !default;

$icon-apple: "\EA08" !default;

$icon-cloud: "\EA09" !default;

$icon-facebook: "\EA0A" !default;

$icon-google-plus: "\EA0B" !default;

$icon-twitter: "\EA0C" !default;

$icon-windows: "\EA0D" !default;