$global-font-icon: 'svg-icons';

@font-face {
 font-family: $global-font-icon;
 src:url("../fonts/svg-icons.eot");
 src:url("../fonts/svg-icons.?#iefix") format("embedded-opentype"),
   url("../fonts/svg-icons.woff") format("woff"),
   url("../fonts/svg-icons.ttf") format("truetype"),
   url("../fonts/svg-icons.#svg-icons") format("svg");
 font-weight: normal;
 font-style: normal;
}

.icon {
 font-family: $global-font-icon;

 &:before {
   /* Some common icon stuff */
 }

 &.icon--1 {
   &:before {
     content: $icon-1;
   }
 }
 &.icon--2 {
   &:before {
     content: $icon-2;
   }
 }
 &.icon--3 {
   &:before {
     content: $icon-3;
   }
 }
 &.icon--4 {
   &:before {
     content: $icon-4;
   }
 }
 &.icon--5 {
   &:before {
     content: $icon-5;
   }
 }
 &.icon--6 {
   &:before {
     content: $icon-6;
   }
 }
 &.icon--android {
   &:before {
     content: $icon-android;
   }
 }
 &.icon--apple {
   &:before {
     content: $icon-apple;
   }
 }
 &.icon--cloud {
   &:before {
     content: $icon-cloud;
   }
 }
 &.icon--facebook {
   &:before {
     content: $icon-facebook;
   }
 }
 &.icon--google-plus {
   &:before {
     content: $icon-google-plus;
   }
 }
 &.icon--twitter {
   &:before {
     content: $icon-twitter;
   }
 }
 &.icon--windows {
   &:before {
     content: $icon-windows;
   }
 }

}