section.contact
	h2.contact__title Contact us
	span.underlined.inverse
	.contact__info
		span.contact__subtitle Get in touch with us
		span.contact__text Nunc urna est, tristique et varlus at, pharetra nec enim. Quilisque rhoncus lacus fringilla nulla sollicitudin tristique.
		a(href="#") Facebook
		a(href="#") Twitter
		a(href="#") Google+
		a(href="tel: +XX-XXXX-XXXX-XX") +XX-XXXX-XXXX-XX
		a(href="mailto: Businessname@gmail.com") Businessname@gmail.com
	.contact__form-wrapper
		form(class="contact__form")
			input(type="text", placeholder="Name", class="contact__input", required)
			input(type="email", placeholder="Email", class="contact__input", required)
			textarea(class="contact__input", required) Message
			button(type="submit", class="btn") Submit
	.copyright
		span.copyright__copy &copy; 2003-2015 Business Name, All Rights Reserved
		span.copyright__right Designed by Colorpixels.net