section.features
	h2.features__title Key features
	p.features__general Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesant luctus mi quis nisi interdum eleifend.
	.features__description
		ul.features__list
			li.features__list-item
				strong.feature__name.feature__name--1 Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item
				strong.feature__name.feature__name--2 Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item
				strong.feature__name.feature__name--3 Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
		.features__img
		ul.features__list
			li.features__list-item
				strong.feature__name.feature__name--4 Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item
				strong.feature__name.feature__name--5 Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item
				strong.feature__name.feature__name--6 Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada