section.features
	h2.features__title Key features
	span.underlined
	p.features__general Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesant luctus mi quis nisi interdum eleifend.
	.features__description
		ul.features__list
			li.features__list-item
				strong Amet varius
				| Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item
				strong Amet varius
				| Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item
				strong Amet varius
				| Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
		.features__img-wrapper
			img(src="http://lorempixel.com/g/64/64", alt="")
		ul.features__list-item
			li.features__list-item
				strong Amet varius
				| Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item
				strong Amet varius
				| Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item
				strong Amet varius
				| Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada