section.features
	h2.features__title#features Key features
	p.features__general Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesant luctus mi quis nisi interdum eleifend.
	.features__description
		ul.features__list
			li.features__list-item.icon.icon--1
				strong.feature__name Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item.icon.icon--2
				strong.feature__name Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item.icon.icon--3
				strong.feature__name Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
		.features__img
		ul.features__list
			li.features__list-item.icon.icon--4
				strong.feature__name Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item.icon.icon--5
				strong.feature__name Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada
			li.features__list-item.icon.icon--6
				strong.feature__name Amet varius
				span.feature__description Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada