header.header#home
	include navi.pug
	.header__wrapper
		.header__info
			h1.header__title Introducing Mobileapp.
			span.header__subtitle Maecenas vitae tellus sapien. Praesent
			ul.header__list
				li.header__list-item semper scelerisque tristique a enim
				li.header__list-item Integer ut mattis nulla, eget vehicula elit
				li.header__list-item Praesent rutrum ac nunc et
			buttton.btn.btn--header Download 
				span.icon.icon--cloud
		.header__images
			.header__image
			.header__image