header.header
	.header__info
		h1.header__title Introducing Mobileapp.
		span.header__subtitle Maecenas vitae tellus sapien. Praesent
		ul.header__list
			li.header__list-item semper scelerisque tristique a enim
			li.header__list-item Integer ut mattis nulla, eget vehicula elit
			li.header__list-item Praesent rutrum ac nunc et
		buttton.btn Download
	.header__images
		.header__image
			img(src="http://lorempixel.com/g/64/64", alt="")
		.header__image
			img(src="http://lorempixel.com/g/64/64", alt="")