doctype html
html(lang="en")
	head
		title= "Optellect test"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Lato|Lobster" rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="css/normalize.css")
		link(rel="stylesheet", type="text/css", href="css/style.css")
	body
		include navi.pug
		include header.pug
		include features.pug
		include video.pug
		include team.pug
		include testimonials.pug
		include contact.pug