doctype html
html(lang="en")
	head
		title= "Optellect test"
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="css/style.css")
	body
		
		include header.pug
		include features.pug
		include video.pug
		include team.pug
		include testimonials.pug
		include contact.pug
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/js.js")