nav.nav
	span.logo Mobileapp
	.nav__links
		a(href="#home", class="nav__item") Home
		a(href="#features", class="nav__item") Features
		a(href="#team", class="nav__item") Team
		a(href="#testimonials", class="nav__item") Testimonials
		a(href="#contact", class="nav__item") Contact