nav.nav
	span.logo Mobileapp
	a(href="#", class="nav__item") Home
	a(href="#", class="nav__item") Features
	a(href="#", class="nav__item") Team
	a(href="#", class="nav__item") Testimonials
	a(href="#", class="nav__item") Contact