nav(class="nav", role="navigation")
	div(class="menu-icon", data-toggle-menu)
	span.logo Mobileapp
	ul.nav__links
		li
			a(href="#home", class="nav__item active") Home
		li
			a(href="#features", class="nav__item") Features
		li
			a(href="#team", class="nav__item") Team
		li
			a(href="#testimonials", class="nav__item") Testimonials
		li
			a(href="#contact", class="nav__item") Contact