.nav
	.logo 
		a(href="#home", class="logo__link") Mobileapp
	.nav__btn.js--menu-btn
	nav.nav__links.js--dropdown-menu
		a(href="#home", class="nav__links-item") Home
		a(href="#features", class="nav__links-item") Features
		a(href="#team", class="nav__links-item") Team
		a(href="#testimonials", class="nav__links-item") Testimonials
		a(href="#contact", class="nav__links-item") Contact
