section.team
	h2.team__title Our team
	span.underlined
	p.team__general Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesant luctus mi quis nisi interdum eleifend.
	ul.team__members
		li.team__member
			.team__photo-wrapper
				img(src="", alt="Jon Doe", class="team__photo")
			.team__info
				span Aenean ut suscipit urna. Donec efficitur
				span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
				a(href="#") Twitter
				a(href="#") Facebook
				a(href="#") Google+
			span.team__name
				strong Jon Doe
			span.team__position Managing Director
		li.team__member
			.team__photo-wrapper
				img(src="", alt="Jon Doe", class="team__photo")
			.team__info
				span Aenean ut suscipit urna. Donec efficitur
				span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
				a(href="#") Twitter
				a(href="#") Facebook
				a(href="#") Google+
			span.team__name
				strong Jon Doe
			span.team__position Lead Designer
		li.team__member
			.team__photo-wrapper
				img(src="", alt="Jon Doe", class="team__photo")
			.team__info
				span Aenean ut suscipit urna. Donec efficitur
				span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
				a(href="#") Twitter
				a(href="#") Facebook
				a(href="#") Google+
			span.team__name
				strong Jon Doe
			span.team__position Lead Developer
		li.team__member
			.team__photo-wrapper
				img(src="", alt="Jon Doe", class="team__photo")
			.team__info
				span Aenean ut suscipit urna. Donec efficitur
				span sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
				a(href="#") Twitter
				a(href="#") Facebook
				a(href="#") Google+
			span.team__name
				strong Jon Doe
			span.team__position Sr. UI Designer