section.testimonials
	h2.testimonials__title#testimonials What our customer's say
	.slider-box
		.slider
			.slider-wrapper
				.slider__item.js-slide
					.testimonials__photo-wrapper
						img(src="images/customer.jpg", alt="Jon Doe", class="testimonials__photo")
					span.testimonials__name Jon Doe
					span.testimonials__workplace Company Inc.
					p.testimonials__text Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendreit sit amet ante a tempus. Aenean gravida mass et ante pulvinar, id
				.slider__item.js-slide
					.testimonials__photo-wrapper
						img(src="images/customer.jpg", alt="Jon Doe", class="testimonials__photo")
					span.testimonials__name Jon Doe
					span.testimonials__workplace Company Inc.
					p.testimonials__text Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendreit sit amet ante a tempus. Aenean gravida mass et ante pulvinar, id
				.slider__item.js-slide
					.testimonials__photo-wrapper
						img(src="images/customer.jpg", alt="Jon Doe", class="testimonials__photo")
					span.testimonials__name Jon Doe
					span.testimonials__workplace Company Inc.
					p.testimonials__text Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendreit sit amet ante a tempus. Aenean gravida mass et ante pulvinar, id
				.slider__item.js-slide
					.testimonials__photo-wrapper
						img(src="images/customer.jpg", alt="Jon Doe", class="testimonials__photo")
					span.testimonials__name Jon Doe
					span.testimonials__workplace Company Inc.
					p.testimonials__text Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendreit sit amet ante a tempus. Aenean gravida mass et ante pulvinar, id
	.slider-nav
		.circle.js-btn.active
		.circle.js-btn
		.circle.js-btn
		.circle.js-btn